  <div class="col-sm-6 col-md-4 images">
    <div class="thumbnail"  data-src="holder.js/150x100">
      <label class="btn info" data-toggle="tooltip" data-placement="right" title="">
        <a target="_blank" href="<%= laptop.escape('url') %>" data-toggle="tooltip" data-placement="right" title="test" class="info" ><img src="<%= laptop.escape('medium_image_url') %>" class="laptop"></a>
    </label>
      <div class="caption">
        <%= laptop.escape('') %>
      </div>
    </div>
  </div>
