
<form action="root_submit" method="post">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Free Spirit indeed">
      <input type="radio" name="size" value="00,10000">  No Preference
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="The thinnest and lighprice notebooks around have 10 to 12-inch screens. However, you may sacrifice keyboard size for portability. Many laptops in this class double as tablets.">
      <input type="radio" name="size" value="1000,1200">  10 to 12 inches
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Provides the best balance of portability and usability. Laptops with 13- or 14-inch screens usually weigh between 3 and 4.5 pounds.">
      <input type="radio" name="size" value="1300,1400">  13 to 14 inches
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="The most popular size, 15-inch laptops are the least expensive and provide plenty of desktop real estate. While most 15-inchers are easy to take from room to room, some are on the bulky side.">
      <input type="radio" name="size" value="1500,1600">  15 to 16 inches
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If your laptop stays on your desk all day, a 17- or 18-inch system will likely provide everything you need for work and play. Many gaming notebooks are in this size category.">
      <input type="radio" name="size" value="1700,10000">  17 inches plus
    </label>
  </div>
<br>
<br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Those in the market for a simple notebook for everyday tasks can find a capable machine for less than $400. Think Intel Celeron or AMD E Series CPUs, 4GB of RAM and 500 GB to 750 GB of storage for Windows machines. Chromebooks need less resources, such as a Celeron CPU, 2GB of RAM and 16GB SSD.">
      <input type="radio" name="max_price" value="40000">  Up to $400
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="For well under $600, you can get a notebook with an Intel Core i5 or AMD A8 CPU, 4 to 8GB of RAM, and a 500GB hard drive, all respectable specs. However, at this price point, many systems have lower-res screens and graphics that aren’t good enough for gaming.">
      <input type="radio" name="max_price" value="60000">  Up to $600
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="For well under $600, you can get a notebook with an Intel Core i5 or AMD A8 CPU, 4 to 8GB of RAM, and a 500GB hard drive, all respectable specs. However, at this price point, many systems have lower-res screens and graphics that aren’t good enough for gaming.">
      <input type="radio" name="max_price" value="80000">  Up to $800
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="As you get above $600, you’ll start to see more premium designs, such as metal finishes. Manufacturers also start to add in other features as you climb the price ladder, including higher-res screens, solid state drives and discrete graphics for those who want to play games">
      <input type="radio" name="max_price" value="100000"> Up to $1,000
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="At this price range, expect notebooks that are more portable, more powerful or both. The lighprice, longest-lasting ultraportables like the MacBook Air and Lenovo ThinkPad X1 carbon tend to cost more than $1,000. High-end gaming systems and mobile workstations, such as the Alienware 17, usually cost upward of $1,500.">
      <input type="radio" name="max_price" value="1000000">  Above $1,000
    </label>
  </div>
<br>
<br>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If you plan to use this as a family PC or want to do a little bit of everything, get a laptop between 13 and 15 inches in size that has solid specs.
  ">
      <input type="radio" name="purpose" value="All_purpose"> All-Purpose
    </label>
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="A If your main goal is to edit documents, design presentations or other productivity tasks, this is the category for you.">
      <input type="radio" name="purpose" value="Business">  Productivity / Business
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If you want to play demanding titles, you’ll need a powerful CPU, discrete graphics and a high-res screen.">
      <input type="radio" name="purpose" value="Gaming"> Gaming
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If you do a fair amount of photo and video editing or 3D animation, choose this option.">
      <input type="radio" name="purpose" value="Creative"> Creative Professional
    </label>

    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="You plan to give this laptop to the kids or use it for simple web surfing and email when you’re away from your primary PC.">
      <input type="radio" name="purpose" value="Secondary"> Secondary PC / Light Use
    </label>
  </div>
<br>
<br>
  <!-- <div class="btn-group">
  <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If you’ll remain tethered to an electrical outlet wherever you go, you can get by with 3 hours or less of battery life.">
    <input type="radio" name="battery" > Rarely
  </label>
  <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Even if you’re just sitting on your couch, you’ll want 5 hours of endurance or more.">
    <input type="radio" name="battery" > Sometimes
  </label>
  <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If you like to use your laptop all day without worrying about running out of power, go for at least 7 hours of juice.">
    <input type="radio" name="battery" > Often
  </label>
</div> -->

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Windows notebooks come in the widest variety of form factors with prices ranging from $300 to over $3,000. While you can still find Windows 7 systems if you look hard enough, most notebooks come with Windows 8.1 preinstalled.">
      <input type="radio" name="os" value="Windows"> Windows
    </label>
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="Available on Macs only, Apple's OS X provides an attractive, powerful UI with an iPad-like Launchpad for your apps as well as interactive Notifications and Finder Tabs for strong multitasking. MacBooks tend to be more expensive, with the cheapest going for $999.">
      <input type="radio" name="os" value="Mac"> Mac OS
    </label>
    <label class="btn btn-primary info" data-toggle="tooltip" data-placement="right" title="If surfing the Web, social networking and email are your priorities, buying a Chromebook could be a solid and affordable choice. Google’s Chrome OS provides a version of the company’s Chrome browser in an online-centric environment filled with powerful Web apps, but limited offline capability.">
      <input type="radio" name="os" value="Chrome"> Chrome OS
    </label>
  </div>
<br>
<br>
    <input type="submit" class="btn btn-primary" value="Find!">
</form>

<br>
<div class='recommendations'>
</div>

